@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
}

.title
{
    color:$blue1;
}

.edit
{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    .side
    {
        flex:1;
        min-width:300px;
        background-color: antiquewhite;

        .tree
        {
            padding:20px;
            
        }

        .head
        {
            position: absolute;
            height: 60px;
            bottom:0px;
            width:300px;
            padding:20px;
        }

        height:100vh;
        overflow-y: auto;
    }

    .section-list
    {
        height:100vh;
        overflow-y: auto;

        flex:1;
        min-width:300px;
        max-width:300px;
        border-right:1px solid #eee;

        .head
        {
            padding:5px;
            background-color: rgb(243, 243, 243);
        }

        .note
        {
            padding:10px;
            border-bottom:1px solid #eee;
            background-color: white;
        }
    }
    .main
    {
        flex:6;
        padding:20px;
        //zoom:.9;
        height:100vh;
        overflow-y: auto;
        .doc
        {
            
        }
    }
}

// ----------------------------

.tree {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #21252B;
  }
  
  .m-node.placeholder {
    border: 1px dashed #1385e5;
  }
  
  .m-node .inner {
    color: #9DA5B4;
    font-size: 12px;
    font-family: Menlo;
  }
  
  .m-node .node {
    display: inline-block;
    width: 100%;
    padding: 4px 5px;
  }
  
  .m-node .node.is-active {
    background-color: #31363F;
  }
  