@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
}

body,html,#root,.cbox
{
  min-height: 100vh;
}


.solo-center
{
  min-height: 100%;
}

.wrapped
{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.cbox
{
  display: flex;
  flex-direction: column;
  .header
  {
    height: 60px;
    background-color: beige;  
  }

  .body
  {
    flex:1;
  }

  
  
  .footer
  {
    height: 60px;
    background-color: antiquewhite; 
    text-align: center;
    padding:20px;
    color:#ccc; 
  }
}

.title
{
    color:$blue1;
}

.editor
{
  // height: calc(100vh - 80px );
  .left
  {
    border-right: 1px solid #eee;
    padding-right: 30px;
  }

  margin-bottom: 50px;

  // overflow: hidden;
}

.content-list
{
  overflow-y: scroll;
  height: calc(100vh - 300px );
  .content-item
  {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    
  }
}

*:focus
{
  outline: none!important;
}

.process-info:empty
{
  display: none;
}

.high-box
{
  min-height: 200px!important;
  max-height: calc(100vh - 500px);
}


  